<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pig Latinized Results!</title>
  </head>
  <body>
    <h1>Your coded message</h1>
    <h2>Your message in Pig Latin is as follows:</h2>
    <h3><%= @results %></h3>
  </body>
</html>
