<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <p>
        <label for="user_phrase">Enter your phrase: </label>
        <input type="text" id="user_phrase" name="user_phrase" placeholder="Enter your message to convert here" size=60 />
      </p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
